body{
    background-color: #a2bdd3;
    font-family:monospace;
    font-size: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.nrml{
    color:rgba(61, 1, 95, 0.918);
    background-color: rgb(255, 255, 255);
}
.hnrml{
    color:rgba(0, 0, 0, 0.712);
    background-color: rgb(228, 228, 228);
}
#delme{
    position: fixed;
    width:100%;
    height:50px;
    display: none;
    color:white;
    border: 2px dashed red;
    background-color: rgba(255, 0, 0, 0.384);
    text-align: center;
    bottom: 0px;
    padding: 100px;
}
.cards:focus{
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border:0px;
}
*:focus{
    border:0px;
    /* color:rgb(0, 174, 255); */
    outline:0px;
}
.newCard:focus{
    color:rgb(254, 251, 255);
    background-color: rgb(0, 105, 175);
}
h1{
    background-color:rgb(228, 228, 228);
    color: rgb(0, 105, 175);
    font-size: 1.6em;
    font-weight: bold;
    top:0;
    text-transform: uppercase;
    width:88%;
    position: sticky;
    padding: 5px 20px;
}
.mm h1{
    border-top:2px solid rgb(228, 228, 228);
    border-bottom:2px solid rgb(228, 228, 228);
    font-size: 1.1em;
    top:47px;
    box-sizing: border-box;
    text-transform: uppercase;
    width:100%;
    position: sticky;
    padding: 10px 20px;
}
.bname{
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    width:100%;
    background-color: rgb(0, 105, 175);
    color:rgb(255, 255, 255);
}
.newCard{
    font-weight: bold;
    font-size: 1em;
    bottom:0px;
    left:0px;
    width:87.79%;
    display: block;
    text-align: left;
    position: sticky;
    padding: 10px 10px 10px 30px;
    background-color: rgb(228, 228, 228);
}

/* toggle the style block below for changing view */
.span{
    width: 100000px;
}
/* ---------------------------------------------- */
.list{
    overflow-x: hidden;
    width:331px;
    border: 5px solid rgb(0, 105, 175);
    background-color: rgb(228, 228, 228);
    color:rgb(117, 117, 117);
    border-radius: 6px;
    /* overflow-y: scroll; */
    min-height:100px;
    max-height:820px;
    margin: 4px;
    float: left;
}
.nlist{
    overflow-x: hidden;
    width:300px;
    background-color: rgba(0, 0, 0, 0);
    color:rgb(0, 105, 175);
    border-radius: 5px;
    font-weight: bold;
    font-family: monospace;
    border:5px solid rgb(0, 105, 175);
    margin: 4px;
    text-align: center;
    padding:10px;
    font-size: 25px;
    display:block;
    float: left;
}
.nlist:hover{
    background-color: rgb(0, 105, 175);
    transition: 1s;
    color:wheat;
}
.nlist:focus{
    background-color: rgb(0, 105, 175);
    color:wheat;
}
.card{
    display:block;
    font-weight: bold;
    font-size: 20px;
    min-height:40px;
    margin:10px;
    padding:10px 30px 10px 10px;
    border-radius: 5px;
}
/* .list::-webkit-scrollbar {
    width:0.3em;
    background-color: rgba(61, 1, 95, 0);
    border-radius:0px 0px 10px 0px;
}
.list::-webkit-scrollbar-thumb{
    background-color: #62007591;
    border-radius: 50px;
} */
.meant{
  margin-left: 331px;
}

.list::-webkit-scrollbar {
    width:0em;
    background-color: rgb(0, 105, 175);
}
.list::-webkit-scrollbar-thumb{
    background-color: rgb(196, 124, 255);
    /* border-radius: 50px; */
    transition: 1s;
}
.list::-webkit-scrollbar-thumb:hover{
    background-color: #00d9ff;
    transition: 1s;
}

body::-webkit-scrollbar {
    height:0.5em;
 }
body::-webkit-scrollbar-thumb{
    background-color: rgb(0, 105, 175);
    border-radius: 10px;
}
[draggable="true"] {
    /*
   To prevent user selecting inside the drag source
  */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.mm{
    padding:0px;
    padding-bottom:100px;
    box-shadow: 2px 0px 30px #00578a1c;
    background-color: #00638a0e;
    margin: 0px 0px 40px 0px;
    min-height: 70px;
}











/* style for side nave */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(0, 105, 175); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    color: #f1f1f1;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color:wheat;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
